modules = ["nodejs-20"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "REACT_NATIVE_PACKAGER_HOSTNAME=c9ce167e-415e-44b4-91b0-cfbd16b4811d-00-1orfp5j7i5rno.picard.replit.dev npx expo start --port 8080 --dev-client"
waitForPort = 8080

[[ports]]
localPort = 8080
externalPort = 80

[nix]
channel = "stable-25_05"
